<!-- Canvas Component - Orchestrator -->
<!-- Delegates rendering to the active layout component -->

<ng-container [ngSwitch]="activeLayout">
  
  <!-- Default Layout (Edit Mode) -->
  <app-default-layout 
    *ngSwitchCase="'default'"
    [state]="state"
    [contentTypes]="contentTypes"
    [userText]="userText"
    [sourceUrl]="sourceUrl"
    [nodeId]="nodeId"
    [inputMode]="inputModeValue"
    [backgroundColor]="backgroundColor"
    [columns]="effectiveColumns"
    [showInputArea]="effectiveShowInputArea"
    [showStatusBar]="effectiveShowStatusBar"
    [showCoreFields]="effectiveShowCoreFields"
    [showSpecialFields]="effectiveShowSpecialFields"
    [showFooter]="effectiveShowFooter"
    [showFloatingControls]="effectiveShowFloatingControls"
    [showFieldActions]="effectiveShowFieldActions"
    [showContentTypeOnly]="_showContentTypeOnly"
    [showUploadButton]="effectiveShowUploadButton"
    [readonly]="effectiveReadonly"
    [highlightAi]="_highlightAi"
    (userTextChange)="userText = $event"
    (sourceUrlChange)="sourceUrl = $event"
    (nodeIdChange)="nodeId = $event"
    (startExtraction)="startExtraction()"
    (startUrlExtraction)="startUrlExtraction($event)"
    (startNodeIdExtraction)="startNodeIdExtraction($event)"
    (inputModeChange)="_inputMode = $event"
    (reset)="reset()"
    (selectContentType)="selectContentType($event)"
    (fieldValueChange)="canvas.updateFieldValue($event.fieldId, $event.value)"
    (jsonLoaded)="onJsonLoaded($event)"
    (downloadJson)="downloadJson()"
    (submit)="submit()"
    (upload)="uploadToRepository()"
    (dismissError)="canvas.clearError()">
  </app-default-layout>
  
  <!-- Plugin Layout (Compact sidebar for browser extension) -->
  <app-plugin-layout 
    *ngSwitchCase="'plugin'"
    [state]="state"
    [contentTypes]="contentTypes"
    [userText]="userText"
    [sourceUrl]="sourceUrl"
    [nodeId]="nodeId"
    [inputMode]="inputModeValue"
    [backgroundColor]="backgroundColor"
    [columns]="effectiveColumns"
    [showInputArea]="effectiveShowInputArea"
    [showStatusBar]="effectiveShowStatusBar"
    [showCoreFields]="effectiveShowCoreFields"
    [showSpecialFields]="effectiveShowSpecialFields"
    [showFieldActions]="effectiveShowFieldActions"
    [showFloatingControls]="effectiveShowFloatingControls"
    [showContentTypeOnly]="_showContentTypeOnly"
    [showUploadButton]="effectiveShowUploadButton"
    [showPageMode]="_showPageMode"
    [readonly]="effectiveReadonly"
    [highlightAi]="_highlightAi"
    (userTextChange)="userText = $event"
    (sourceUrlChange)="sourceUrl = $event"
    (nodeIdChange)="nodeId = $event"
    (startExtraction)="startExtraction()"
    (startUrlExtraction)="startUrlExtraction($event)"
    (startNodeIdExtraction)="startNodeIdExtraction($event)"
    (inputModeChange)="_inputMode = $event"
    (reset)="reset()"
    (reloadFromPage)="reloadFromPage.emit()"
    (selectContentType)="selectContentType($event)"
    (fieldValueChange)="canvas.updateFieldValue($event.fieldId, $event.value)"
    (submit)="submit()"
    (upload)="uploadToRepository()">
  </app-plugin-layout>
  
  <!-- Dialog Layout (Compact review dialog) -->
  <app-dialog-layout 
    *ngSwitchCase="'dialog'"
    [state]="state"
    [contentTypes]="contentTypes"
    [backgroundColor]="backgroundColor"
    [columns]="effectiveColumns"
    [userText]="userText"
    [sourceUrl]="sourceUrl"
    [nodeId]="nodeId"
    [inputMode]="inputModeValue"
    [showInputArea]="effectiveShowInputArea"
    [showStatusBar]="effectiveShowStatusBar"
    [showCoreFields]="effectiveShowCoreFields"
    [showSpecialFields]="effectiveShowSpecialFields"
    [showFieldActions]="effectiveShowFieldActions"
    [showFloatingControls]="effectiveShowFloatingControls"
    [showContentTypeOnly]="_showContentTypeOnly"
    [showUploadButton]="effectiveShowUploadButton"
    [readonly]="effectiveReadonly"
    [highlightAi]="_highlightAi"
    (userTextChange)="userText = $event"
    (sourceUrlChange)="sourceUrl = $event"
    (nodeIdChange)="nodeId = $event"
    (startExtraction)="startExtraction()"
    (startUrlExtraction)="startUrlExtraction($event)"
    (startNodeIdExtraction)="startNodeIdExtraction($event)"
    (inputModeChange)="_inputMode = $event"
    (selectContentType)="selectContentType($event)"
    (fieldValueChange)="canvas.updateFieldValue($event.fieldId, $event.value)"
    (submit)="submit()"
    (upload)="uploadToRepository()"
    (reset)="reset()">
  </app-dialog-layout>
  
  <!-- Detail Layout (Multi-column read-only preview) -->
  <app-detail-layout 
    *ngSwitchCase="'detail'"
    [state]="state"
    [contentTypes]="contentTypes"
    [backgroundColor]="backgroundColor"
    [columns]="effectiveColumns"
    [userText]="userText"
    [sourceUrl]="sourceUrl"
    [nodeId]="nodeId"
    [inputMode]="inputModeValue"
    [showInputArea]="effectiveShowInputArea"
    [showStatusBar]="effectiveShowStatusBar"
    [showCoreFields]="effectiveShowCoreFields"
    [showSpecialFields]="effectiveShowSpecialFields"
    [showFieldActions]="effectiveShowFieldActions"
    [showFloatingControls]="effectiveShowFloatingControls"
    [showContentTypeOnly]="_showContentTypeOnly"
    [readonly]="effectiveReadonly"
    [highlightAi]="_highlightAi"
    (userTextChange)="userText = $event"
    (sourceUrlChange)="sourceUrl = $event"
    (nodeIdChange)="nodeId = $event"
    (startExtraction)="startExtraction()"
    (startUrlExtraction)="startUrlExtraction($event)"
    (startNodeIdExtraction)="startNodeIdExtraction($event)"
    (inputModeChange)="_inputMode = $event"
    (selectContentType)="selectContentType($event)"
    (fieldValueChange)="canvas.updateFieldValue($event.fieldId, $event.value)"
    (reset)="reset()">
  </app-detail-layout>
  
  <!-- Metadatenprüfdialog Layout (Dialog mode for review) -->
  <app-metadatenpruefdialog-layout 
    *ngSwitchCase="'metadatenpruefdialog'"
    [state]="state"
    [contentTypes]="contentTypes"
    [backgroundColor]="backgroundColor"
    [columns]="effectiveColumns"
    [userText]="userText"
    [sourceUrl]="sourceUrl"
    [nodeId]="nodeId"
    [inputMode]="inputModeValue"
    [showInputArea]="effectiveShowInputArea"
    [showStatusBar]="effectiveShowStatusBar"
    [showCoreFields]="effectiveShowCoreFields"
    [showSpecialFields]="effectiveShowSpecialFields"
    [showFieldActions]="effectiveShowFieldActions"
    [showFloatingControls]="effectiveShowFloatingControls"
    [showContentTypeOnly]="_showContentTypeOnly"
    [readonly]="effectiveReadonly"
    [highlightAi]="_highlightAi"
    (userTextChange)="userText = $event"
    (sourceUrlChange)="sourceUrl = $event"
    (nodeIdChange)="nodeId = $event"
    (startExtraction)="startExtraction()"
    (startUrlExtraction)="startUrlExtraction($event)"
    (startNodeIdExtraction)="startNodeIdExtraction($event)"
    (inputModeChange)="_inputMode = $event"
    (selectContentType)="selectContentType($event)"
    (fieldValueChange)="canvas.updateFieldValue($event.fieldId, $event.value)"
    (reset)="reset()">
  </app-metadatenpruefdialog-layout>
  
  <!-- Prüftisch Layout (Review table with card-based display) -->
  <app-prueftisch-layout 
    *ngSwitchCase="'prueftisch'"
    [layoutVariant]="'prueftisch'"
    [state]="state"
    [contentTypes]="contentTypes"
    [backgroundColor]="backgroundColor"
    [columns]="effectiveColumns"
    [userText]="userText"
    [sourceUrl]="sourceUrl"
    [nodeId]="nodeId"
    [inputMode]="inputModeValue"
    [showInputArea]="effectiveShowInputArea"
    [showStatusBar]="effectiveShowStatusBar"
    [showCoreFields]="effectiveShowCoreFields"
    [showSpecialFields]="effectiveShowSpecialFields"
    [showFieldActions]="effectiveShowFieldActions"
    [showFloatingControls]="effectiveShowFloatingControls"
    [showContentTypeOnly]="_showContentTypeOnly"
    [readonly]="effectiveReadonly"
    [highlightAi]="_highlightAi"
    (userTextChange)="userText = $event"
    (sourceUrlChange)="sourceUrl = $event"
    (nodeIdChange)="nodeId = $event"
    (startExtraction)="startExtraction()"
    (startUrlExtraction)="startUrlExtraction($event)"
    (startNodeIdExtraction)="startNodeIdExtraction($event)"
    (inputModeChange)="_inputMode = $event"
    (selectContentType)="selectContentType($event)"
    (fieldValueChange)="canvas.updateFieldValue($event.fieldId, $event.value)"
    (reset)="reset()">
  </app-prueftisch-layout>
  
  <!-- Prüftisch Groß Layout (2-column review table) -->
  <app-prueftisch-layout 
    *ngSwitchCase="'prueftisch-gross'"
    [layoutVariant]="'prueftisch-gross'"
    [state]="state"
    [contentTypes]="contentTypes"
    [backgroundColor]="backgroundColor"
    [columns]="effectiveColumns"
    [userText]="userText"
    [sourceUrl]="sourceUrl"
    [nodeId]="nodeId"
    [inputMode]="inputModeValue"
    [showInputArea]="effectiveShowInputArea"
    [showStatusBar]="effectiveShowStatusBar"
    [showCoreFields]="effectiveShowCoreFields"
    [showSpecialFields]="effectiveShowSpecialFields"
    [showFieldActions]="effectiveShowFieldActions"
    [showFloatingControls]="effectiveShowFloatingControls"
    [showContentTypeOnly]="_showContentTypeOnly"
    [readonly]="effectiveReadonly"
    [highlightAi]="_highlightAi"
    (userTextChange)="userText = $event"
    (sourceUrlChange)="sourceUrl = $event"
    (nodeIdChange)="nodeId = $event"
    (startExtraction)="startExtraction()"
    (startUrlExtraction)="startUrlExtraction($event)"
    (startNodeIdExtraction)="startNodeIdExtraction($event)"
    (inputModeChange)="_inputMode = $event"
    (selectContentType)="selectContentType($event)"
    (fieldValueChange)="canvas.updateFieldValue($event.fieldId, $event.value)"
    (reset)="reset()">
  </app-prueftisch-layout>
  
</ng-container>
